root=true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 175
spaces_in_brackets = true;

[*.js]
quote_type = single
insert_final_newline = false

[*.ts]
quote_type = single
insert_final_newline = false

[*.html]
quote_type = double